body{
    margin-left: 30px;
    margin-right: 30px;
}

.header{
    padding-top: 10px;
}

.red{
  color: red;
}

.green{
  color: green;
}

.yellow{
  color: yellow;
}

.orange{
  color: orange;
}

.burgundy{
  color: brown;
}

.gray{
  color: gray;
}
